@font-face {
    font-family: "bavro";
    src: url("../assets/fonts/bavro-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/bavro-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v13-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
    height: 100%;
}

body {
    margin: auto;
    height: 100%;
    font-family: 'bavro';
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#1B1424, black);
}

.wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;

}

.header{
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.quote{
    margin-top: 2rem;
}

.hide{
    display: none;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    width: 50rem;
    margin-top: 2rem;
}

.nav__link{
    color: gainsboro;

}


  